* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    align-items: center;
    font: arial;
}

/*High scores class*/
.top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 130px;
    font-size: 20px;
}

header a {
    text-decoration: none;
    color: rgb(190, 209, 18);
    font-weight: bold;
    opacity: .8;
}

/* Styling high scores page */
.high-scoresh1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

main {
    padding-top: 60px;
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
}

main h3{
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    
}

#btn-start{
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(190, 209, 18, 0.363);
    margin: 30px 40px;
    cursor: pointer;
    font-size: 20px;
    width: 10%;
    
}

#btn1, #btn2, #btn3, #btn4, #btn5{
    display: none;
}
