* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

body {
    background-size: cover;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsla(68, 79%, 96%, 0.377);
    background-image: url("../images/bluelightbg.jpg");
}

/*High scores class*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-top: 27px;
    font-size: 30px;
    flex-direction: column-reverse;
}


header a {
    text-decoration: none;
    color: rgb(190, 209, 18);
    font-weight: bold;
    opacity: .8;
}

/* Styling high scores page */
.high-scoresh1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

main {
    padding-top: 20px;
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    padding-bottom: 50px;
}

.h3, .h2{
    padding-top: 1rem;
    text-align: center;
    align-items: center;
    font-weight: bold;
    width: 70%;
}
.h1{
    font-weight: bold;
    opacity: .9;
}

header h3{
    display: flex;
    color:#bed112b8;
}

#startQuiz {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

span{
    color: hsla(20, 84%, 5%, 0.974);
    font-weight: 600;
}

.input {
    width: 7rem;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 2rem;
    margin-top: 3rem;
    text-align: center;
}
.btn{
    width: 12rem;
    padding: 0.65rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
    background-color: hsla(135, 100%, 53%, 0.693);
    opacity: .9;
}
nav a:hover{
    color:hsla(135, 100%, 53%, 0.693);
}

.small {
    font-size: 1rem;
    text-align: center;
}


